header{
    text-align: center;
}

main {
    text-align: center;
}

/* remove arrows from number selection */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Hide results */
.hidden {
    display: none;
}