
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

main {
    text-align: center;
}

/* remove arrows from number selection */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Hide results */
.hidden {
    display: none;
}

/* Mobile first responsive design */
.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-right: 100px;
  }

  @media all and (min-width: 600px) {

    section, h1 {
      padding: 0 10%;
    }
  
    .group {
      flex-direction: row;
    }
  
  }
  
 body {
     background-image: url("images/block-blurred.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     color: black;
     
    
 }

header {
    color: white;
    font-size: 30px;
    font-family: 'chomskyregular', Times, serif;
    text-align: center;
}

#history-quote {
    background-color: #b7b7a4;
    opacity: 0.9;
    font-family: Times, serif
    

}
.wrapper {
    position: relative;
    background-color: rgba(243, 242, 242, 0.88);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#results{
    color: black;
}
#results-list{
    padding-left: 1px;
}

.wrapper-results {
    position: relative;
    background-color:rgba(183, 183, 164, 0.9);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    list-style: none;
    text-align: center;
    align-items: center;

}

img {
    max-width: 100%;
    max-height: 100%;
}
/* Font Adjustments */
#welcome p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif
}
.search-results{
    font-size: 40px;
    color: white;
}

.btn {
    
    margin-top: 10px;
    background-color: #f0efeb;
    border-radius: 8px;
}
 
a {
    font-size: 16px;
    font-family: "Verdana", "sans-serif";
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: #4F5D75;
}

a:hover {
    color: #2D3142;
}

a:active {
    color: #a5a58d;
}


/*Fonts*/

@font-face {
    font-family: 'chomskyregular';
    src: url('fonts/chomsky-webfont.woff2') format('woff2'),
         url('fonts/chomsky-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


.footer {
     left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cb997e;
    color: white;
    text-align: center;
    margin-top: 50px;
    position: relative;
    
  }
