header{
    text-align: center;
}

main {
    text-align: center;
}

/* remove arrows from number selection */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Hide results */
.hidden {
    display: none;
}

/* Mobile first responsive design */
.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }

  @media all and (min-width: 800px) {

    section, h1 {
      padding: 0 10%;
    }
  
    .group {
      flex-direction: row;
    }
  
  }
  
 body {
     background-image: url("images/printing-press-box.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: black;
    
 }

header {
    color: white;
    font-size: 30px;
    font-family: 'chomskyregular';
    font-weight: bold;
}

#history-quote {
    background-color: rgb(167, 153, 153);
    

}
.wrapper {
    position: relative;
    background-color: rgba(243, 242, 242, 0.88);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

#results{
    color: black;
}

.wrapper-results {
    position: relative;
    background-color: rgba(173, 85, 85, 0.88);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
